workflows/meta-ads-relatorio-diario.json
{"name":"R2R | Relatório diário Meta ads por cliente","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"54f300bf-f712-4c4a-b279-17949c7bfca6","name":"Agendar a cada 5 minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1320,40]},{"parameters":{"operation":"executeQuery","query":"WITH due AS (\n  SELECT c.id\n  FROM gestao_ads.reporting_clients c\n  WHERE c.active = TRUE\n    AND EXTRACT(ISODOW FROM (NOW() AT TIME ZONE c.timezone))::SMALLINT = ANY(c.send_days)\n    AND NOW() >= ((((NOW() AT TIME ZONE c.timezone)::DATE + c.send_time) AT TIME ZONE c.timezone))\n    AND NOW() <  ((((NOW() AT TIME ZONE c.timezone)::DATE + c.send_time) AT TIME ZONE c.timezone) + INTERVAL '15 minutes')\n    AND c.last_sent_report_date IS DISTINCT FROM (NOW() AT TIME ZONE c.timezone)::DATE\n    AND (c.locked_until IS NULL OR c.locked_until < NOW())\n  ORDER BY c.send_time, c.created_at\n  FOR UPDATE SKIP LOCKED\n  LIMIT 100\n)\nUPDATE gestao_ads.reporting_clients c\nSET locked_until = NOW() + INTERVAL '30 minutes',\n    lock_token = GEN_RANDOM_UUID(),\n    updated_at = NOW()\nFROM due\nWHERE c.id = due.id\nRETURNING c.*;","options":{"queryBatching":"singleQuery"}},"id":"213b0b99-c068-4113-853d-098f2dde4b90","name":"Buscar e bloquear clientes devidos","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1080,40]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"e5df7d42-cc54-4512-8aa5-8deaa2f6469d","name":"Loop por cliente","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-840,40]},{"parameters":{"jsCode":"const client = $json;\nconst timezone = client.timezone || 'America/Sao_Paulo';\n\nfunction dateInZone(date, timeZone) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(date);\n  const map = Object.fromEntries(parts.map((p) => [p.type, p.value]));\n  return `${map.year}-${map.month}-${map.day}`;\n}\n\nfunction previousDate(isoDate) {\n  const [year, month, day] = isoDate.split('-').map(Number);\n  return new Date(Date.UTC(year, month - 1, day) - 86400000)\n    .toISOString()\n    .slice(0, 10);\n}\n\nfunction normalizeArray(value, fallback = []) {\n  if (Array.isArray(value)) return value;\n  if (value === null || value === undefined || value === '') return fallback;\n  return String(value)\n    .replace(/[{}]/g, '')\n    .split(',')\n    .map((v) => v.trim().replace(/^\"|\"$/g, ''))\n    .filter(Boolean);\n}\n\nconst today = dateInZone(new Date(), timezone);\nconst yesterday = previousDate(today);\nconst adAccountId = String(client.ad_account_id || '').replace(/^act_/, '');\n\nreturn [{\n  json: {\n    ...client,\n    ad_account_id: adAccountId,\n    report_date: today,\n    today,\n    yesterday,\n    conversion_action_types: normalizeArray(\n      client.conversion_action_types,\n      ['lead', 'onsite_conversion.messaging_conversation_started_7d']\n    ),\n    attribution_windows: normalizeArray(\n      client.attribution_windows,\n      ['7d_click', '1d_view']\n    ),\n  },\n}];"},"id":"d86d428f-fa3c-40a0-851b-4c5d2e3d7359","name":"Preparar Datas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,160]},{"parameters":{"method":"GET","url":"=https://graph.facebook.com/{{$env.META_GRAPH_VERSION}}/act_{{ $('Preparar Datas').item.json.ad_account_id }}/insights","sendQuery":true,"queryParameters":{"parameters":[{"name":"level","value":"account"},{"name":"fields","value":"account_id,account_name,account_currency,date_start,date_stop,spend,reach,impressions,clicks,ctr,cpc,cpm,actions,action_values,cost_per_action_type,purchase_roas"},{"name":"time_range","value":"={{ JSON.stringify({ since: $('Preparar Datas').item.json.today, until: $('Preparar Datas').item.json.today }) }}"},{"name":"action_attribution_windows","value":"={{ JSON.stringify($('Preparar Datas').item.json.attribution_windows) }}"},{"name":"use_account_attribution_setting","value":"true"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.META_SYSTEM_USER_TOKEN}}"}]},"options":{"timeout":120000}},"id":"672dd31f-f867-4c71-b587-c395ea7b40e9","name":"Meta ads - Hoje","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,160],"retryOnFail":true,"maxTries":3,"waitBetweenTries":30000,"onError":"continueRegularOutput"},{"parameters":{"amount":2,"unit":"seconds"},"id":"5dcba166-5e78-4164-bcd5-c68b309e1ec4","name":"Aguardar limite da API","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-120,160]},{"parameters":{"method":"GET","url":"=https://graph.facebook.com/{{$env.META_GRAPH_VERSION}}/act_{{ $('Preparar Datas').item.json.ad_account_id }}/insights","sendQuery":true,"queryParameters":{"parameters":[{"name":"level","value":"account"},{"name":"fields","value":"account_id,account_name,account_currency,date_start,date_stop,spend,reach,impressions,clicks,ctr,cpc,cpm,actions,action_values,cost_per_action_type,purchase_roas"},{"name":"time_range","value":"={{ JSON.stringify({ since: $('Preparar Datas').item.json.yesterday, until: $('Preparar Datas').item.json.yesterday }) }}"},{"name":"action_attribution_windows","value":"={{ JSON.stringify($('Preparar Datas').item.json.attribution_windows) }}"},{"name":"use_account_attribution_setting","value":"true"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.META_SYSTEM_USER_TOKEN}}"}]},"options":{"timeout":120000}},"id":"b3ac7b23-0125-4c09-b50e-0f92f1bc035f","name":"Meta ads - Ontem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,160],"retryOnFail":true,"maxTries":3,"waitBetweenTries":30000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const client = $('Preparar Datas').item.json;\nconst todayResponse = $('Meta ads - Hoje').item.json;\nconst yesterdayResponse = $('Meta ads - Ontem').item.json;\n\nfunction unwrap(response) {\n  if (!response) return { data: [], error: { message: 'Resposta vazia da API' } };\n  if (response.error) return { data: [], error: response.error };\n  return response;\n}\n\nfunction firstRow(response) {\n  const payload = unwrap(response);\n  if (payload.error) return { row: {}, error: payload.error };\n  return { row: Array.isArray(payload.data) && payload.data.length ? payload.data[0] : {}, error: null };\n}\n\nfunction number(value) {\n  const parsed = Number(value ?? 0);\n  return Number.isFinite(parsed) ? parsed : 0;\n}\n\nfunction sumActionTypes(list, actionTypes) {\n  if (!Array.isArray(list)) return 0;\n  const accepted = new Set(actionTypes || []);\n  return list.reduce((total, entry) => {\n    return accepted.has(entry.action_type) ? total + number(entry.value) : total;\n  }, 0);\n}\n\nfunction findActionValue(list, actionTypes) {\n  if (!Array.isArray(list)) return 0;\n  const accepted = new Set(actionTypes || []);\n  return list.reduce((total, entry) => {\n    return accepted.has(entry.action_type) ? total + number(entry.value) : total;\n  }, 0);\n}\n\nfunction firstNumericArrayValue(list, preferredTypes = []) {\n  if (!Array.isArray(list)) return 0;\n  for (const type of preferredTypes) {\n    const found = list.find((entry) => entry.action_type === type);\n    if (found) return number(found.value);\n  }\n  return list.length ? number(list[0].value) : 0;\n}\n\nfunction variation(current, previous) {\n  if (previous === 0 && current === 0) return { value: 0, label: '0,0%' };\n  if (previous === 0) return { value: null, label: 'novo/sem base' };\n  const value = ((current - previous) / Math.abs(previous)) * 100;\n  const sign = value > 0 ? '+' : '';\n  return {\n    value,\n    label: `${sign}${value.toLocaleString('pt-BR', {\n      minimumFractionDigits: 1,\n      maximumFractionDigits: 1,\n    })}%`,\n  };\n}\n\nfunction formatCurrency(value, currency) {\n  try {\n    return new Intl.NumberFormat('pt-BR', {\n      style: 'currency',\n      currency: currency || 'BRL',\n      minimumFractionDigits: 2,\n      maximumFractionDigits: 2,\n    }).format(number(value));\n  } catch {\n    return `R$ ${number(value).toFixed(2).replace('.', ',')}`;\n  }\n}\n\nfunction formatNumber(value, decimals = 0) {\n  return number(value).toLocaleString('pt-BR', {\n    minimumFractionDigits: decimals,\n    maximumFractionDigits: decimals,\n  });\n}\n\nfunction extractMetrics(row) {\n  const spend = number(row.spend);\n  const impressions = number(row.impressions);\n  const reach = number(row.reach);\n  const clicks = number(row.clicks);\n  const ctr = number(row.ctr);\n  const cpc = number(row.cpc);\n  const cpm = number(row.cpm);\n  const conversions = sumActionTypes(row.actions, client.conversion_action_types);\n  const conversionValue = findActionValue(row.action_values, [\n    'purchase',\n    'omni_purchase',\n    'offsite_conversion.fb_pixel_purchase',\n    'offsite_conversion.custom.%',\n  ]);\n  const apiRoas = firstNumericArrayValue(row.purchase_roas, [\n    'omni_purchase',\n    'offsite_conversion.fb_pixel_purchase',\n  ]);\n  const roas = apiRoas || (spend > 0 ? conversionValue / spend : 0);\n  const costPerResult = conversions > 0 ? spend / conversions : 0;\n\n  return {\n    spend,\n    impressions,\n    reach,\n    clicks,\n    ctr,\n    cpc,\n    cpm,\n    conversions,\n    cost_per_result: costPerResult,\n    conversion_value: conversionValue,\n    roas,\n    date_start: row.date_start || null,\n    date_stop: row.date_stop || null,\n  };\n}\n\nconst todayPayload = firstRow(todayResponse);\nconst yesterdayPayload = firstRow(yesterdayResponse);\n\nconst apiError = todayPayload.error || yesterdayPayload.error;\nconst supportedChannel = ['whatsapp', 'email'].includes(String(client.channel || '').toLowerCase());\nconst dataValid = !apiError && supportedChannel;\n\nconst today = extractMetrics(todayPayload.row);\nconst yesterday = extractMetrics(yesterdayPayload.row);\n\nconst variations = {\n  spend: variation(today.spend, yesterday.spend),\n  reach: variation(today.reach, yesterday.reach),\n  impressions: variation(today.impressions, yesterday.impressions),\n  clicks: variation(today.clicks, yesterday.clicks),\n  ctr: variation(today.ctr, yesterday.ctr),\n  cpc: variation(today.cpc, yesterday.cpc),\n  cpm: variation(today.cpm, yesterday.cpm),\n  conversions: variation(today.conversions, yesterday.conversions),\n  cost_per_result: variation(today.cost_per_result, yesterday.cost_per_result),\n  roas: variation(today.roas, yesterday.roas),\n};\n\nconst noActivity = today.spend === 0 && today.impressions === 0 && today.reach === 0;\nconst periodLabel = new Date(`${client.report_date}T12:00:00Z`).toLocaleDateString('pt-BR', {\n  timeZone: 'UTC',\n});\n\nlet message;\nif (noActivity) {\n  message = `Olá, ${client.client_name}! 👋\n\n📊 Relatório diário de campanhas — ${periodLabel}\n\nHoje não identificamos veiculação ou consumo de orçamento nas campanhas monitoradas da sua conta.\n\nIsso pode ocorrer quando:\n• as campanhas estão pausadas;\n• o orçamento foi atingido;\n• os anúncios estão em análise;\n• não houve entrega no período.\n\nNossa equipe seguirá acompanhando e avisará caso seja necessário algum ajuste.\n\nR2R Marketing Digital`;\n} else {\n  message = `Olá, ${client.client_name}! 👋\n\n📊 Relatório diário de campanhas — ${periodLabel}\n\n💰 Investimento: ${formatCurrency(today.spend, client.currency)} (${variations.spend.label})\n👥 Alcance: ${formatNumber(today.reach)} (${variations.reach.label})\n👁️ Impressões: ${formatNumber(today.impressions)} (${variations.impressions.label})\n🖱️ Cliques: ${formatNumber(today.clicks)} (${variations.clicks.label})\n📈 CTR: ${formatNumber(today.ctr, 2)}% (${variations.ctr.label})\n💳 CPC: ${formatCurrency(today.cpc, client.currency)} (${variations.cpc.label})\n📣 CPM: ${formatCurrency(today.cpm, client.currency)} (${variations.cpm.label})\n🎯 Resultados: ${formatNumber(today.conversions)} (${variations.conversions.label})\n💵 Custo por resultado: ${formatCurrency(today.cost_per_result, client.currency)} (${variations.cost_per_result.label})\n📊 ROAS: ${formatNumber(today.roas, 2)}x (${variations.roas.label})\n\n🔎 Comparativo realizado em relação ao dia anterior.\nℹ️ Os dados do Meta ads podem receber atualizações posteriores por causa da atribuição de conversões.\n\nR2R Marketing Digital`;\n}\n\nreturn [{\n  json: {\n    ...client,\n    data_valid: dataValid,\n    api_error: apiError ? (apiError.message || JSON.stringify(apiError)) : (!supportedChannel ? `Canal não suportado: ${client.channel}` : null),\n    no_activity: noActivity,\n    metrics_today: today,\n    metrics_yesterday: yesterday,\n    variations,\n    message,\n    email_subject: `Relatório diário Meta ads — ${client.client_name} — ${periodLabel}`,\n    delivery_status: noActivity ? 'no_activity' : 'sent',\n  },\n}];"},"id":"86a744b4-fece-4b74-a649-66faa9376782","name":"Normalizar e Formatar","type":"n8n-nodes-base.code","typeVersion":2,"position":[360,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75d6520d-e8e3-41fa-989b-713bb9c340c0","leftValue":"={{ $json.data_valid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"be96f415-b0f7-43d3-b895-49dffe08573d","name":"Dados válidos?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,160]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cab96daa-e412-44d5-8356-8ec5f2d0fa7a","leftValue":"={{ String($json.channel).toLowerCase() }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3056fa43-d0f7-4bfe-bed4-10a26d6028b1","name":"Canal é WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,40]},{"parameters":{"method":"POST","url":"={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $json.channel_config?.instance || $env.EVOLUTION_INSTANCE }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { number: $json.destination, text: $json.message, delay: 1200, linkPreview: false } }}","options":{"timeout":60000}},"id":"b5bd9a90-535d-47e0-bb6c-e0f22046fc70","name":"Enviar WhatsApp - Evolution API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,-80],"retryOnFail":true,"maxTries":3,"waitBetweenTries":15000},{"parameters":{"fromEmail":"={{ $env.REPORT_FROM_EMAIL }}","toEmail":"={{ $json.destination }}","subject":"={{ $json.email_subject }}","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false}},"id":"c43ea42e-5748-4dae-a15b-a61042144ac8","name":"Enviar E-mail","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1080,160],"retryOnFail":true,"maxTries":3,"waitBetweenTries":15000},{"parameters":{"operation":"executeQuery","query":"WITH updated AS (\n  UPDATE gestao_ads.reporting_clients\n  SET last_sent_report_date = $2::DATE,\n      last_sent_at = NOW(),\n      locked_until = NULL,\n      lock_token = NULL,\n      updated_at = NOW()\n  WHERE id = $1::UUID\n  RETURNING id\n)\nINSERT INTO gestao_ads.reporting_runs (\n  client_id,\n  report_date,\n  execution_id,\n  status,\n  channel,\n  destination,\n  metrics_today,\n  metrics_yesterday,\n  message,\n  sent_at,\n  created_at,\n  updated_at\n)\nSELECT\n  id,\n  $2::DATE,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7::JSONB,\n  $8::JSONB,\n  $9,\n  NOW(),\n  NOW(),\n  NOW()\nFROM updated\nON CONFLICT (client_id, report_date)\nDO UPDATE SET\n  execution_id = EXCLUDED.execution_id,\n  status = EXCLUDED.status,\n  channel = EXCLUDED.channel,\n  destination = EXCLUDED.destination,\n  metrics_today = EXCLUDED.metrics_today,\n  metrics_yesterday = EXCLUDED.metrics_yesterday,\n  message = EXCLUDED.message,\n  sent_at = NOW(),\n  updated_at = NOW()\nRETURNING id;","options":{"queryBatching":"independently","queryReplacement":"={{ [ $('Preparar Datas').item.json.id, $('Preparar Datas').item.json.report_date, $execution.id, $('Normalizar e Formatar').item.json.delivery_status, $('Normalizar e Formatar').item.json.channel, $('Normalizar e Formatar').item.json.destination, JSON.stringify($('Normalizar e Formatar').item.json.metrics_today), JSON.stringify($('Normalizar e Formatar').item.json.metrics_yesterday), $('Normalizar e Formatar').item.json.message ] }}"}},"id":"954cf2b8-47b3-4a89-9216-5955f162dbf6","name":"Registrar envio WhatsApp","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1320,-80]},{"parameters":{"operation":"executeQuery","query":"WITH updated AS (\n  UPDATE gestao_ads.reporting_clients\n  SET last_sent_report_date = $2::DATE,\n      last_sent_at = NOW(),\n      locked_until = NULL,\n      lock_token = NULL,\n      updated_at = NOW()\n  WHERE id = $1::UUID\n  RETURNING id\n)\nINSERT INTO gestao_ads.reporting_runs (\n  client_id,\n  report_date,\n  execution_id,\n  status,\n  channel,\n  destination,\n  metrics_today,\n  metrics_yesterday,\n  message,\n  sent_at,\n  created_at,\n  updated_at\n)\nSELECT\n  id,\n  $2::DATE,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7::JSONB,\n  $8::JSONB,\n  $9,\n  NOW(),\n  NOW(),\n  NOW()\nFROM updated\nON CONFLICT (client_id, report_date)\nDO UPDATE SET\n  execution_id = EXCLUDED.execution_id,\n  status = EXCLUDED.status,\n  channel = EXCLUDED.channel,\n  destination = EXCLUDED.destination,\n  metrics_today = EXCLUDED.metrics_today,\n  metrics_yesterday = EXCLUDED.metrics_yesterday,\n  message = EXCLUDED.message,\n  sent_at = NOW(),\n  updated_at = NOW()\nRETURNING id;","options":{"queryBatching":"independently","queryReplacement":"={{ [ $('Preparar Datas').item.json.id, $('Preparar Datas').item.json.report_date, $execution.id, $('Normalizar e Formatar').item.json.delivery_status, $('Normalizar e Formatar').item.json.channel, $('Normalizar e Formatar').item.json.destination, JSON.stringify($('Normalizar e Formatar').item.json.metrics_today), JSON.stringify($('Normalizar e Formatar').item.json.metrics_yesterday), $('Normalizar e Formatar').item.json.message ] }}"}},"id":"8ae8c2a3-c636-4bf4-95cd-f6e3ceba2db7","name":"Registrar envio E-mail","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1320,160]},{"parameters":{"operation":"executeQuery","query":"WITH unlocked AS (\n  UPDATE gestao_ads.reporting_clients\n  SET locked_until = NULL,\n      lock_token = NULL,\n      updated_at = NOW()\n  WHERE id = $1::UUID\n  RETURNING id\n)\nINSERT INTO gestao_ads.reporting_runs (\n  client_id,\n  report_date,\n  execution_id,\n  status,\n  channel,\n  destination,\n  error_message,\n  created_at,\n  updated_at\n)\nSELECT\n  id,\n  $2::DATE,\n  $3,\n  'failed',\n  $4,\n  $5,\n  $6,\n  NOW(),\n  NOW()\nFROM unlocked\nON CONFLICT (client_id, report_date)\nDO UPDATE SET\n  execution_id = EXCLUDED.execution_id,\n  status = 'failed',\n  channel = EXCLUDED.channel,\n  destination = EXCLUDED.destination,\n  error_message = EXCLUDED.error_message,\n  attempts = gestao_ads.reporting_runs.attempts + 1,\n  updated_at = NOW()\nRETURNING id;","options":{"queryBatching":"independently","queryReplacement":"={{ [ $('Preparar Datas').item.json.id, $('Preparar Datas').item.json.report_date, $execution.id, $('Normalizar e Formatar').item.json.channel, $('Normalizar e Formatar').item.json.destination, $('Normalizar e Formatar').item.json.api_error ] }}"}},"id":"cec69158-d84f-48b8-8125-f33f0ebdde32","name":"Registrar falha do cliente","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[840,320]},{"parameters":{"amount":2,"unit":"seconds"},"id":"104ffac4-4cdc-42ea-afd0-481e647c650f","name":"Aguardar próximo cliente","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1560,80]},{"parameters":{"jsCode":"const items = $input.all();\nreturn [{\n  json: {\n    completed_at: new Date().toISOString(),\n    processed_items: items.length,\n    status: 'completed',\n  },\n}];"},"id":"38b4589f-ba06-47af-877f-3071572b504a","name":"Resumo da execução","type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-120],"executeOnce":true}],"pinData":{},"connections":{"Agendar a cada 5 minutos":{"main":[[{"node":"Buscar e bloquear clientes devidos","type":"main","index":0}]]},"Buscar e bloquear clientes devidos":{"main":[[{"node":"Loop por cliente","type":"main","index":0}]]},"Loop por cliente":{"main":[[{"node":"Resumo da execução","type":"main","index":0}],[{"node":"Preparar Datas","type":"main","index":0}]]},"Preparar Datas":{"main":[[{"node":"Meta ads - Hoje","type":"main","index":0}]]},"Meta ads - Hoje":{"main":[[{"node":"Aguardar limite da API","type":"main","index":0}]]},"Aguardar limite da API":{"main":[[{"node":"Meta ads - Ontem","type":"main","index":0}]]},"Meta ads - Ontem":{"main":[[{"node":"Normalizar e Formatar","type":"main","index":0}]]},"Normalizar e Formatar":{"main":[[{"node":"Dados válidos?","type":"main","index":0}]]},"Dados válidos?":{"main":[[{"node":"Canal é WhatsApp?","type":"main","index":0}],[{"node":"Registrar falha do cliente","type":"main","index":0}]]},"Canal é WhatsApp?":{"main":[[{"node":"Enviar WhatsApp - Evolution API","type":"main","index":0}],[{"node":"Enviar E-mail","type":"main","index":0}]]},"Enviar WhatsApp - Evolution API":{"main":[[{"node":"Registrar envio WhatsApp","type":"main","index":0}]]},"Enviar E-mail":{"main":[[{"node":"Registrar envio E-mail","type":"main","index":0}]]},"Registrar envio WhatsApp":{"main":[[{"node":"Aguardar próximo cliente","type":"main","index":0}]]},"Registrar envio E-mail":{"main":[[{"node":"Aguardar próximo cliente","type":"main","index":0}]]},"Registrar falha do cliente":{"main":[[{"node":"Aguardar próximo cliente","type":"main","index":0}]]},"Aguardar próximo cliente":{"main":[[{"node":"Loop por cliente","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"versionId":"8222e859-c25a-46e5-a15e-c26ec46c5b4b","meta":{"templateCredsSetupCompleted":false,"instanceId":""},"tags":[]}