workflows/meta-ads-relatorio-diario.json
{"name":"R2R | Relatório diário Meta ads | Supabase pronto","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"4cf73ee4-864a-432a-876b-f7542bafcaa9","name":"Executar a cada 5 minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1280,0]},{"parameters":{},"id":"7ffdaea3-b71d-43bf-bb41-6ff0b304f374","name":"Teste manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1280,160]},{"parameters":{"method":"POST","url":"https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/rpc/n8n_meta_claim_due_clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {p_limit:100} }}","options":{"timeout":60000}},"id":"0b180743-6494-46fd-a9a8-817034ac2239","name":"Supabase - Clientes devidos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,80],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"const v=$json;const a=Array.isArray(v)?v:(Array.isArray(v.data)?v.data:Object.values(v||{}).find(Array.isArray)||[]);return a.map(x=>({json:x}));"},"id":"7ac44bc2-dc41-48da-816a-340e53c37e90","name":"Separar clientes","type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,80]},{"parameters":{"batchSize":1,"options":{}},"id":"bf6c8484-2617-4b5c-a08f-11d1a1e28c80","name":"Loop por cliente","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-600,80]},{"parameters":{"jsCode":"return [{json:{status:'concluido',finished_at:new Date().toISOString(),items:$input.all().length}}];"},"id":"d07d000f-bf15-48a5-a578-57f513c6849d","name":"Finalizado","type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,-100],"executeOnce":true},{"parameters":{"jsCode":"const c=$json,tz=c.timezone||'America/Sao_Paulo';\nconst d=x=>Object.fromEntries(new Intl.DateTimeFormat('en-CA',{timeZone:tz,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(x).map(p=>[p.type,p.value]));\nconst iso=x=>{const p=d(x);return `${p.year}-${p.month}-${p.day}`};\nconst today=iso(new Date()),yesterday=new Date(Date.parse(today+'T00:00:00Z')-86400000).toISOString().slice(0,10);\nconst arr=(v,f)=>Array.isArray(v)?v:(v?String(v).replace(/[{}]/g,'').split(',').map(x=>x.trim().replace(/^\"|\"$/g,'')):f);\nreturn [{json:{...c,ad_account_id:String(c.ad_account_id||'').replace(/^act_/i,''),today,yesterday,report_date:today,conversion_action_types:arr(c.conversion_action_types,['lead','onsite_conversion.messaging_conversation_started_7d']),attribution_windows:arr(c.attribution_windows,['7d_click','1d_view'])}}];"},"id":"a1c2ce0a-9b45-4ea5-924b-300c0c5fed14","name":"Preparar cliente","type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,180]},{"parameters":{"method":"GET","url":"=https://graph.facebook.com/{{$env.META_GRAPH_VERSION}}/act_{{ $('Preparar cliente').item.json.ad_account_id }}/insights","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.META_SYSTEM_USER_TOKEN}}"}]},"options":{"timeout":120000,"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"json"}}},"sendQuery":true,"queryParameters":{"parameters":[{"name":"level","value":"account"},{"name":"fields","value":"account_id,account_name,account_currency,date_start,date_stop,spend,reach,impressions,frequency,clicks,ctr,cpc,cpm,actions,action_values,purchase_roas"},{"name":"time_range","value":"={{JSON.stringify({since:$('Preparar cliente').item.json.yesterday,until:$('Preparar cliente').item.json.today})}}"},{"name":"time_increment","value":"1"},{"name":"action_attribution_windows","value":"={{JSON.stringify($('Preparar cliente').item.json.attribution_windows)}}"},{"name":"use_account_attribution_setting","value":"true"},{"name":"limit","value":"10"}]}},"id":"62654072-373e-454b-860c-e8d617fd2cc1","name":"Meta ads - Hoje e ontem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,180],"retryOnFail":true,"maxTries":3,"waitBetweenTries":30000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const c=$('Preparar cliente').item.json,r=$json||{},payload=r.body??r,status=Number(r.statusCode??r.status??0);\nconst num=v=>Number.isFinite(Number(v))?Number(v):0, rows=Array.isArray(payload.data)?payload.data:[], err=r.error||payload.error||(!(status>=200&&status<300)?{message:`Meta ads HTTP ${status||'sem status'}`} :null);\nconst match=(v,ps)=>(ps||[]).some(p=>{p=String(p);return p.endsWith('*')?v.startsWith(p.slice(0,-1)):p.includes('%')?new RegExp('^'+p.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&').replace(/%/g,'.*')+'$').test(v):v===p});\nconst sum=(a,ps)=>Array.isArray(a)?a.reduce((s,x)=>s+(match(String(x.action_type||''),ps)?num(x.value):0),0):0;\nconst first=(a,ps)=>{if(!Array.isArray(a))return 0;for(const p of ps){const x=a.find(z=>match(String(z.action_type||''),[p]));if(x)return num(x.value)}return a[0]?num(a[0].value):0};\nconst metric=row=>{row=row||{};const spend=num(row.spend),conv=sum(row.actions,c.conversion_action_types),value=sum(row.action_values,['purchase','omni_purchase','offsite_conversion.fb_pixel_purchase','offsite_conversion.custom.%']);return {spend,reach:num(row.reach),impressions:num(row.impressions),frequency:num(row.frequency),clicks:num(row.clicks),ctr:num(row.ctr),cpc:num(row.cpc),cpm:num(row.cpm),conversions:conv,cost_per_result:conv?spend/conv:0,conversion_value:value,roas:first(row.purchase_roas,['omni_purchase','offsite_conversion.fb_pixel_purchase'])||(spend?value/spend:0)}};\nconst byDate=x=>rows.find(r=>r.date_start===x)||{},today=metric(byDate(c.today)),yesterday=metric(byDate(c.yesterday));\nconst variation=(a,b)=>b===0?(a===0?'0,0%':'novo/sem base'):`${((a-b)/Math.abs(b)*100)>0?'+':''}${((a-b)/Math.abs(b)*100).toLocaleString('pt-BR',{minimumFractionDigits:1,maximumFractionDigits:1})}%`;\nconst money=v=>new Intl.NumberFormat('pt-BR',{style:'currency',currency:String(c.currency||'BRL').trim()}).format(v),n=(v,d=0)=>v.toLocaleString('pt-BR',{minimumFractionDigits:d,maximumFractionDigits:d});\nconst enabled=new Set(Array.isArray(c.metrics)?c.metrics:['spend','reach','impressions','frequency','clicks','ctr','cpc','cpm','conversions','cost_per_result','roas']), lines=[],add=(k,label,val,d=0,suffix='')=>{if(enabled.has(k))lines.push(`${label}: ${n(val,d)}${suffix} (${variation(val,yesterday[k])})`)};\nif(enabled.has('spend'))lines.push(`💰 Investimento: ${money(today.spend)} (${variation(today.spend,yesterday.spend)})`);add('reach','👥 Alcance',today.reach);add('impressions','👁️ Impressões',today.impressions);add('frequency','🔁 Frequência',today.frequency,2,'x');add('clicks','🖱️ Cliques',today.clicks);add('ctr','📈 CTR',today.ctr,2,'%');if(enabled.has('cpc'))lines.push(`💳 CPC: ${money(today.cpc)} (${variation(today.cpc,yesterday.cpc)})`);if(enabled.has('cpm'))lines.push(`📣 CPM: ${money(today.cpm)} (${variation(today.cpm,yesterday.cpm)})`);add('conversions','🎯 Resultados',today.conversions);if(enabled.has('cost_per_result'))lines.push(`💵 Custo por resultado: ${money(today.cost_per_result)} (${variation(today.cost_per_result,yesterday.cost_per_result)})`);add('roas','📊 ROAS',today.roas,2,'x');\nconst date=new Date(c.report_date+'T12:00:00Z').toLocaleDateString('pt-BR',{timeZone:'UTC'}),empty=today.spend===0&&today.impressions===0&&today.reach===0;\nconst message=empty?`Olá, ${c.client_name}! 👋\n\n📊 Relatório diário de campanhas — ${date}\n\nHoje não identificamos veiculação ou consumo de orçamento nas campanhas monitoradas. Nossa equipe seguirá acompanhando.\n\nR2R Marketing Digital`:`Olá, ${c.client_name}! 👋\n\n📊 Relatório diário de campanhas — ${date}\n\n${lines.join('\\n')}\n\n🔎 Comparativo em relação ao dia anterior.\nℹ️ Os dados do Meta ads podem receber atualizações posteriores.\n\nR2R Marketing Digital`;\nconst channel=String(c.channel||'').toLowerCase(),valid=!err&&['whatsapp','email'].includes(channel)&&Boolean(c.destination);\nreturn [{json:{...c,channel,data_valid:valid,api_error:err?(err.message||JSON.stringify(err)):(!valid?'Canal ou destino inválido':null),metrics_today:today,metrics_yesterday:yesterday,message,email_subject:`Relatório diário Meta ads — ${c.client_name} — ${date}`,delivery_status:empty?'no_activity':'sent'}}];"},"id":"d66cb92f-f9f8-4cbb-953f-e1a5157294cd","name":"Formatar relatório","type":"n8n-nodes-base.code","typeVersion":2,"position":[120,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3df6e090-e8a1-4656-bfd4-115c4ef28799","leftValue":"={{$json.data_valid}}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"66b9584f-7512-4e3c-8f1a-eed86001ba1f","name":"Dados válidos?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,180]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0e01d55-5ade-4452-858f-89253f08a2ba","leftValue":"={{$json.channel}}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f2d58062-146c-4f6a-beaf-0d30ba05174f","name":"WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,100]},{"parameters":{"method":"POST","url":"={{$env.EVOLUTION_API_URL}}/message/sendText/{{$json.channel_config?.instance||$env.EVOLUTION_INSTANCE}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.EVOLUTION_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {number:$json.destination,text:$json.message,delay:1200,linkPreview:false} }}","options":{"timeout":60000,"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"json"}}}},"id":"d20eb533-8b81-4e78-85d7-7f6f1129764b","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,20],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.RESEND_API_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Idempotency-Key","value":"={{'meta-report-'+$json.id+'-'+$json.report_date}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {from:$env.REPORT_FROM_EMAIL,to:[$json.destination],subject:$json.email_subject,text:$json.message} }}","options":{"timeout":60000,"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"json"}}}},"id":"490059d8-d25e-4723-8645-9ed69d10e647","name":"Enviar E-mail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,220],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const b=$('Formatar relatório').item.json,r=$json||{},status=Number(r.statusCode??r.status??0),body=r.body??r,e=r.error||body?.error,ok=status>=200&&status<300&&!e;let msg=e?.message||e?.error||body?.message||body?.error||`Falha no envio. HTTP ${status||'sem status'}`;if(typeof msg!=='string')msg=JSON.stringify(msg);return [{json:{...b,delivery_ok:ok,api_error:ok?null:msg,provider_response:body}}];"},"id":"9cf498c5-bfc3-44ff-9169-c12ae75704c6","name":"Validar envio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee814f9b-6acb-4ca7-99ee-68e3741627fa","leftValue":"={{$json.delivery_ok}}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9f28f7e3-f5d4-49b9-8c0e-c6c214479544","name":"Enviado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1300,120]},{"parameters":{"method":"POST","url":"https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/rpc/n8n_meta_record_delivery","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {p_client_id:$json.id,p_lock_token:$json.lock_token,p_report_date:$json.report_date,p_execution_id:$execution.id,p_status:$json.delivery_status,p_channel:$json.channel,p_destination:$json.destination,p_metrics_today:$json.metrics_today,p_metrics_yesterday:$json.metrics_yesterday,p_message:$json.message} }}","options":{"timeout":60000}},"id":"d90f1a88-f72d-49bf-9eed-50440ac12f2a","name":"Supabase - Registrar sucesso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,20],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://iqrnytsgwaiegddfxfjs.supabase.co/rest/v1/rpc/n8n_meta_record_failure","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {p_client_id:$json.id,p_lock_token:$json.lock_token,p_report_date:$json.report_date,p_execution_id:$execution.id,p_channel:$json.channel,p_destination:$json.destination,p_error_message:$json.api_error||'Erro não identificado'} }}","options":{"timeout":60000}},"id":"629302b3-7267-437f-8011-7d4d7749eeca","name":"Supabase - Registrar falha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,260],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"amount":2,"unit":"seconds"},"id":"de0d82c0-9d23-4691-b961-2ed2c76ab442","name":"Aguardar próximo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,120]}],"pinData":{},"connections":{"Executar a cada 5 minutos":{"main":[[{"node":"Supabase - Clientes devidos","type":"main","index":0}]]},"Teste manual":{"main":[[{"node":"Supabase - Clientes devidos","type":"main","index":0}]]},"Supabase - Clientes devidos":{"main":[[{"node":"Separar clientes","type":"main","index":0}]]},"Separar clientes":{"main":[[{"node":"Loop por cliente","type":"main","index":0}]]},"Loop por cliente":{"main":[[{"node":"Finalizado","type":"main","index":0}],[{"node":"Preparar cliente","type":"main","index":0}]]},"Preparar cliente":{"main":[[{"node":"Meta ads - Hoje e ontem","type":"main","index":0}]]},"Meta ads - Hoje e ontem":{"main":[[{"node":"Formatar relatório","type":"main","index":0}]]},"Formatar relatório":{"main":[[{"node":"Dados válidos?","type":"main","index":0}]]},"Dados válidos?":{"main":[[{"node":"WhatsApp?","type":"main","index":0}],[{"node":"Supabase - Registrar falha","type":"main","index":0}]]},"WhatsApp?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}],[{"node":"Enviar E-mail","type":"main","index":0}]]},"Enviar WhatsApp":{"main":[[{"node":"Validar envio","type":"main","index":0}]]},"Enviar E-mail":{"main":[[{"node":"Validar envio","type":"main","index":0}]]},"Validar envio":{"main":[[{"node":"Enviado?","type":"main","index":0}]]},"Enviado?":{"main":[[{"node":"Supabase - Registrar sucesso","type":"main","index":0}],[{"node":"Supabase - Registrar falha","type":"main","index":0}]]},"Supabase - Registrar sucesso":{"main":[[{"node":"Aguardar próximo","type":"main","index":0}]]},"Supabase - Registrar falha":{"main":[[{"node":"Aguardar próximo","type":"main","index":0}]]},"Aguardar próximo":{"main":[[{"node":"Loop por cliente","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"versionId":"16d87908-6461-4777-b93b-082fae59a237","meta":{"templateCredsSetupCompleted":false,"r2rProjectRef":"iqrnytsgwaiegddfxfjs","r2rSchema":"n8n_meta_reports"},"tags":[]}