workflows/meta-ads-relatorio-diario.json
{"name":"R2R | Relatório diário Meta ads | WhatsApp Evolution API","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"53941536-19b6-4b93-830f-ada253564d85","name":"Executar a cada 5 minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,976]},{"parameters":{},"id":"309f4f68-b127-4b57-9990-f78093a08d20","name":"Teste manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-928,1136]},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/rpc/n8n_meta_claim_due_clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {p_limit:100} }}","options":{"timeout":60000}},"id":"f6d9dc84-7fdf-42a9-9cbf-b8ba40cbeaa6","name":"Supabase - Clientes devidos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,1056],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\nconst toItem = (value, sourceIndex) => {\n  if (!value || typeof value !== 'object' || Array.isArray(value)) {\n    throw new Error(`Cliente inválido: cada item precisa ser um objeto JSON.`);\n  }\n\n  return {\n    json: { ...value },\n    pairedItem: { item: sourceIndex },\n  };\n};\n\n// O HTTP Request do Supabase pode devolver vários itens já separados.\nif (items.length > 1) {\n  return items.map((item, index) => toItem(item.json, index));\n}\n\n// Compatibilidade com respostas em um único item contendo um array JSON.\nconst first = items[0].json;\n\nif (Array.isArray(first)) {\n  return first.map((client) => toItem(client, 0));\n}\n\nif (Array.isArray(first?.data)) {\n  return first.data.map((client) => toItem(client, 0));\n}\n\n// Quando o Supabase devolve apenas um cliente como objeto.\nreturn [toItem(first, 0)];"},"id":"dafd5538-5431-46ae-bfde-bc7eff379b90","name":"Separar clientes","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,1056]},{"parameters":{"batchSize":1,"options":{}},"id":"c8437a2e-61c6-4850-b0ac-6fe6b089270b","name":"Loop por cliente","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,1056]},{"parameters":{"jsCode":"return [{json:{status:'concluido',finished_at:new Date().toISOString(),items:$input.all().length}}];"},"id":"4bac8cc0-03e1-4711-9ed5-e8b9da7dca27","name":"Finalizado","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,880],"executeOnce":true},{"parameters":{"jsCode":"const c=$json,tz=c.timezone||'America/Sao_Paulo';\nconst d=x=>Object.fromEntries(new Intl.DateTimeFormat('en-CA',{timeZone:tz,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(x).map(p=>[p.type,p.value]));\nconst iso=x=>{const p=d(x);return `${p.year}-${p.month}-${p.day}`};\nconst today=iso(new Date()),yesterday=new Date(Date.parse(today+'T00:00:00Z')-86400000).toISOString().slice(0,10);\nconst arr=(v,f)=>Array.isArray(v)?v:(v?String(v).replace(/[{}]/g,'').split(',').map(x=>x.trim().replace(/^\"|\"$/g,'')):f);\nreturn [{json:{...c,ad_account_id:String(c.ad_account_id||'').replace(/^act_/i,''),today,yesterday,report_date:today,conversion_action_types:arr(c.conversion_action_types,['lead','onsite_conversion.messaging_conversation_started_7d']),attribution_windows:arr(c.attribution_windows,['7d_click','1d_view'])}}];"},"id":"0cb813e2-6840-4c15-bd97-ccf151f47411","name":"Preparar cliente","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,1152]},{"parameters":{"url":"=https://graph.facebook.com/{{$env.META_GRAPH_VERSION}}/act_{{ $('Preparar cliente').item.json.ad_account_id }}/insights","sendQuery":true,"queryParameters":{"parameters":[{"name":"level","value":"account"},{"name":"fields","value":"account_id,account_name,account_currency,date_start,date_stop,spend,reach,impressions,frequency,clicks,ctr,cpc,cpm,actions,action_values,purchase_roas"},{"name":"time_range","value":"={{JSON.stringify({since:$('Preparar cliente').item.json.yesterday,until:$('Preparar cliente').item.json.today})}}"},{"name":"time_increment","value":"1"},{"name":"action_attribution_windows","value":"={{JSON.stringify($('Preparar cliente').item.json.attribution_windows)}}"},{"name":"use_account_attribution_setting","value":"true"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$env.META_SYSTEM_USER_TOKEN}}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"json"}},"timeout":120000},"method":"GET"},"id":"d0072542-7373-4a01-abe1-00ed94abd1e6","name":"Meta ads - Hoje e ontem","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1152],"retryOnFail":true,"maxTries":3,"waitBetweenTries":30000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const c=$('Preparar cliente').item.json,r=$json||{},payload=r.body??r,status=Number(r.statusCode??r.status??0);\nconst num=v=>Number.isFinite(Number(v))?Number(v):0;\nconst rows=Array.isArray(payload.data)?payload.data:[];\nconst err=r.error||payload.error||(!(status>=200&&status<300)?{message:`Meta ads HTTP ${status||'sem status'}`} :null);\n\nconst match=(v,ps)=>(ps||[]).some(p=>{\n  p=String(p);\n  return p.endsWith('*')?v.startsWith(p.slice(0,-1)):\n    p.includes('%')?new RegExp('^'+p.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&').replace(/%/g,'.*')+'$').test(v):\n    v===p;\n});\nconst sum=(a,ps)=>Array.isArray(a)?a.reduce((s,x)=>s+(match(String(x.action_type||''),ps)?num(x.value):0),0):0;\nconst first=(a,ps)=>{\n  if(!Array.isArray(a))return 0;\n  for(const p of ps){\n    const x=a.find(z=>match(String(z.action_type||''),[p]));\n    if(x)return num(x.value);\n  }\n  return a[0]?num(a[0].value):0;\n};\nconst metric=row=>{\n  row=row||{};\n  const spend=num(row.spend);\n  const conv=sum(row.actions,c.conversion_action_types);\n  const value=sum(row.action_values,['purchase','omni_purchase','offsite_conversion.fb_pixel_purchase','offsite_conversion.custom.%']);\n  return {\n    spend,\n    reach:num(row.reach),\n    impressions:num(row.impressions),\n    clicks:num(row.clicks),\n    ctr:num(row.ctr),\n    cpc:num(row.cpc),\n    cpm:num(row.cpm),\n    conversions:conv,\n    cost_per_result:conv?spend/conv:0,\n    conversion_value:value,\n    roas:first(row.purchase_roas,['omni_purchase','offsite_conversion.fb_pixel_purchase'])||(spend?value/spend:0)\n  };\n};\n\nconst byDate=x=>rows.find(row=>row.date_start===x)||{};\nconst today=metric(byDate(c.today));\nconst yesterday=metric(byDate(c.yesterday));\n\nconst variation=(a,b)=>{\n  if(b===0)return a===0?'0,0%':'novo/sem base';\n  const pct=(a-b)/Math.abs(b)*100;\n  return `${pct>0?'+':''}${pct.toLocaleString('pt-BR',{minimumFractionDigits:1,maximumFractionDigits:1})}%`;\n};\nconst money=v=>new Intl.NumberFormat('pt-BR',{\n  style:'currency',\n  currency:String(c.currency||'BRL').trim()\n}).format(v);\nconst number=(v,d=0)=>v.toLocaleString('pt-BR',{minimumFractionDigits:d,maximumFractionDigits:d});\nconst date=new Date(c.report_date+'T12:00:00Z').toLocaleDateString('pt-BR',{timeZone:'UTC'});\n\nconst lines=[\n  `💰 *Investimento:* ${money(today.spend)} (${variation(today.spend,yesterday.spend)})`,\n  `👥 *Alcance:* ${number(today.reach)} (${variation(today.reach,yesterday.reach)})`,\n  `👁️ *Impressões:* ${number(today.impressions)} (${variation(today.impressions,yesterday.impressions)})`,\n  `🖱️ *Cliques:* ${number(today.clicks)} (${variation(today.clicks,yesterday.clicks)})`,\n  `📈 *CTR:* ${number(today.ctr,2)}% (${variation(today.ctr,yesterday.ctr)})`,\n  `💳 *CPC:* ${money(today.cpc)} (${variation(today.cpc,yesterday.cpc)})`,\n  `📣 *CPM:* ${money(today.cpm)} (${variation(today.cpm,yesterday.cpm)})`,\n  `🎯 *Resultados:* ${number(today.conversions)} (${variation(today.conversions,yesterday.conversions)})`,\n  `💵 *Custo por resultado:* ${money(today.cost_per_result)} (${variation(today.cost_per_result,yesterday.cost_per_result)})`,\n  `📊 *ROAS:* ${number(today.roas,2)}x (${variation(today.roas,yesterday.roas)})`\n];\n\nconst destination=String(c.destination||'').replace(/\\D/g,'');\nconst validPhone=/^\\d{10,15}$/.test(destination);\nconst dataValid=!err&&validPhone;\n\nconst message=`Olá, *${c.client_name}*! 👋\n\n📊 *Relatório diário de campanhas — ${date}*\n\n${lines.join('\\n')}\n\n🔎 _O comparativo foi realizado em relação ao dia anterior._\n\nℹ️ _Os dados do Meta ads podem receber atualizações posteriores devido à atribuição de conversões._\n\n*R2R Marketing Digital*`;\n\nconst empty=today.spend===0&&today.impressions===0&&today.reach===0;\n\nreturn [{\n  json:{\n    ...c,\n    channel:'whatsapp',\n    destination,\n    data_valid:dataValid,\n    api_error:err\n      ? (err.message||JSON.stringify(err))\n      : (!validPhone?'Número de WhatsApp inválido; use DDI + DDD + número, somente dígitos.':null),\n    metrics_today:today,\n    metrics_yesterday:yesterday,\n    message,\n    delivery_status:empty?'no_activity':'sent'\n  }\n}];"},"id":"4aa71ae1-f22b-4433-88c5-ac0c36393735","name":"Formatar relatório","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1152]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3df6e090-e8a1-4656-bfd4-115c4ef28799","leftValue":"={{$json.data_valid}}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c775e411-67f6-44df-8208-a8e6cff80b1b","name":"Dados válidos?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,1152]},{"parameters":{"method":"POST","url":"={{$env.EVOLUTION_API_URL.replace(/\\/$/,'')}}/message/sendText/{{$json.channel_config?.instance||$env.EVOLUTION_INSTANCE}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.EVOLUTION_API_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {number:$json.destination,text:$json.message,delay:1200,linkPreview:false} }}","options":{"response":{"response":{"fullResponse":true,"neverError":false,"responseFormat":"json"}},"timeout":60000}},"id":"b438b38b-b5cc-487f-be0d-dd4a00dcf4a1","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,1072],"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":10000},{"parameters":{"jsCode":"const base=$('Formatar relatório').item.json;\nconst response=$json||{};\nconst status=Number(response.statusCode??response.status??0);\nconst body=response.body??response;\nconst providerError=response.error||body?.error;\nconst hasMessageId=Boolean(body?.key?.id||body?.messageId||body?.id);\nconst accepted=status>=200&&status<300&&!providerError;\n\nlet errorMessage=null;\nif(!accepted){\n  errorMessage=\n    providerError?.message||\n    providerError?.error||\n    body?.message||\n    body?.error||\n    `Falha no envio via WhatsApp. HTTP ${status||'sem status'}`;\n  if(typeof errorMessage!=='string')errorMessage=JSON.stringify(errorMessage);\n}\n\nreturn [{\n  json:{\n    ...base,\n    channel:'whatsapp',\n    delivery_ok:accepted,\n    provider_message_id:body?.key?.id||body?.messageId||body?.id||null,\n    provider_status:body?.status||null,\n    api_error:errorMessage,\n    provider_response:body,\n    provider_response_has_message_id:hasMessageId\n  }\n}];"},"id":"180a7792-1f92-4788-9dd5-b1f11cec88ed","name":"Validar envio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1072]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee814f9b-6acb-4ca7-99ee-68e3741627fa","leftValue":"={{$json.delivery_ok}}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2d83b3c4-1952-45d9-88c3-6a65245a1af5","name":"Enviado?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,1072]},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/rpc/n8n_meta_record_delivery","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {p_client_id:$json.id,p_lock_token:$json.lock_token,p_report_date:$json.report_date,p_execution_id:$execution.id,p_status:$json.delivery_status,p_channel:'whatsapp',p_destination:$json.destination,p_metrics_today:$json.metrics_today,p_metrics_yesterday:$json.metrics_yesterday,p_message:$json.message} }}","options":{"timeout":60000}},"id":"b97118da-2eca-42b5-920d-95e920a9fab0","name":"Supabase - Registrar sucesso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,992],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_URL}}/rest/v1/rpc/n8n_meta_record_failure","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Authorization","value":"=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {p_client_id:$json.id,p_lock_token:$json.lock_token,p_report_date:$json.report_date,p_execution_id:$execution.id,p_channel:'whatsapp',p_destination:$json.destination,p_error_message:$json.api_error||'Erro não identificado no envio por WhatsApp'} }}","options":{"timeout":60000}},"id":"d058578e-ff3c-4a5c-8c7e-07978c3278d9","name":"Supabase - Registrar falha","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,1232],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"amount":2},"id":"2be338bc-8373-4110-bd29-4ec3c6119d25","name":"Aguardar próximo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1920,1104]}],"pinData":{},"connections":{"Executar a cada 5 minutos":{"main":[[{"node":"Supabase - Clientes devidos","type":"main","index":0}]]},"Teste manual":{"main":[[{"node":"Supabase - Clientes devidos","type":"main","index":0}]]},"Supabase - Clientes devidos":{"main":[[{"node":"Separar clientes","type":"main","index":0}]]},"Separar clientes":{"main":[[{"node":"Loop por cliente","type":"main","index":0}]]},"Loop por cliente":{"main":[[{"node":"Finalizado","type":"main","index":0}],[{"node":"Preparar cliente","type":"main","index":0}]]},"Preparar cliente":{"main":[[{"node":"Meta ads - Hoje e ontem","type":"main","index":0}]]},"Meta ads - Hoje e ontem":{"main":[[{"node":"Formatar relatório","type":"main","index":0}]]},"Formatar relatório":{"main":[[{"node":"Dados válidos?","type":"main","index":0}]]},"Dados válidos?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}],[{"node":"Supabase - Registrar falha","type":"main","index":0}]]},"Enviar WhatsApp":{"main":[[{"node":"Validar envio","type":"main","index":0}]]},"Validar envio":{"main":[[{"node":"Enviado?","type":"main","index":0}]]},"Enviado?":{"main":[[{"node":"Supabase - Registrar sucesso","type":"main","index":0}],[{"node":"Supabase - Registrar falha","type":"main","index":0}]]},"Supabase - Registrar sucesso":{"main":[[{"node":"Aguardar próximo","type":"main","index":0}]]},"Supabase - Registrar falha":{"main":[[{"node":"Aguardar próximo","type":"main","index":0}]]},"Aguardar próximo":{"main":[[{"node":"Loop por cliente","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"meta":{"templateCredsSetupCompleted":false},"tags":[],"versionId":"63cd67b1-753e-411b-8ba1-465fd98e5ddd"}